:root {
  --main-bg: #002b36;
  --main-text-color: #eee;
  --main-font: system-ui, sans-serif;
  --cover-bg: var(--main-bg);
  --player-bg: #073642;
  --controls-bg: #073642;
  --controls-font-color: #eee;
  --playlist-bg: var(--controls-bg);
  --playlist-label-bg: var(--main-bg);
  --playlist-label-color: #586e75;
  --playlist-font-color: #eee;
  --playlist-playing-bg: var(--cover-bg);
  --playlist-cued-bg: #268bd2;
  --playlist-cued-border-color: rgb(58, 137, 255);
  --playlist-hover-bg: #586e75;
  --progress-bar-color: orange;
  --progress-bar-opacity: 0.5;
}

* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  background: var(--main-bg);
  color: var(--main-text-color);
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-direction: row;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#file-dialogs {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#file-dialogs div {
  flex: 1 1 auto;
  font-size: 4em;
  text-align: center;
  text-transform: uppercase;
  padding: 24px;
  cursor: pointer;
  margin: auto;
  transition: background 0.25s;
}

#file-dialogs div:hover {
  background: var(--playlist-hover-bg);
}

#player-container {
  display: flex;
  position: relative;
  flex: auto;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#player-cover {
  width: 40%;
  padding: 24px;
  background: var(--cover-bg);
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}

#player-cover img,
#player-cover i {
  position: relative;
  display: block;
  margin: auto;
}

#player-cover i {
  font-size: 12em;
}

#player-items {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  background: var(--player-bg);
}

#player-controls {
  padding: 0 0.5em;
  height: 64px;
  line-height: 64px;
  background: var(--controls-bg);
}
#player-controls a {
  display: block;
  float: left;
  text-decoration: none;
  color: var(--controls-font-color);
  font-size: 2em;
  margin: auto 0.2em;
  cursor: pointer;
}

#player-controls > a:first-child {
  font-size: 3.3em;
}

#playlist-mods {
  float: right;
}

#playlist {
  background: var(--playlist-bg);
  flex: 1 1 auto;
  overflow: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#playlist li, 
#playlist-labels {
  position: relative;
  width: 100%;
  padding: 4px 15px 5px;
  font-size: 15px;
  border-left: 2px solid var(--playlist-bg);
}

#playlist li {
  color: var(--playlist-font-color);
  cursor: pointer;
}

#playlist li:hover {
  background: var(--playlist-hover-bg);
}

#playlist li:after {
  content:'';
  display: table;
  clear: both;
}

#playlist-labels {
  font-weight: bold;
  color: var(--playlist-label-color);
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.25pt;
  padding-left: 17px;
  color: var(--playlist-label-color);
  background: var(--playlist-label-bg);
  border: none;
}

#playlist-labels::after {
    content:"";
    position:absolute;
    width:100%;
    bottom:1px;
    left: 0;
    z-index: 200;
}

#playlist .playlist-playing,
#playlist .playlist-playing.playlist-cued {
  background: var(--playlist-playing-bg);
  border-left: 2px solid var(--progress-bar-color);
}

#playlist .playlist-cued {
  background: var(--playlist-cued-bg);
  border-left: 2px solid var(--playlist-cued-border-color);
}

.track-info, .track-header {
  display: block;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 33.333%;
  padding-right: 15px;
}

.progress-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.progress-bar {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--progress-bar-color);
  opacity: var(--progress-bar-opacity);
}

/* scrollbar */
#playlist::-webkit-scrollbar {
  display: none;
  width: 4px;
}
 
/* Track */
#playlist::-webkit-scrollbar-track {
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
 
/* Handle */
#playlist::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: rgba(203,75,22, 0.8); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#playlist::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}