:root {
  --main-bg: #002b36;
  --main-text-color: #eee;
  --main-font: system-ui, sans-serif;
  --cover-bg: var(--main-bg);
  --player-bg: #073642;
  --controls-bg: #073642;
  --controls-font-color: #eee;
  --playlist-bg: var(--controls-bg);
  --playlist-label-bg: var(--main-bg);
  --playlist-label-color: #586e75;
  --playlist-font-color: #eee;
  --playlist-playing-bg: var(--cover-bg);
  --playlist-cued-bg: #268bd2;
  --playlist-cued-border-color: rgb(58, 137, 255);
  --playlist-hover-bg: #586e75;
  --progress-bar-color: orange;
  --progress-bar-opacity: 0.5;
}

* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  background: var(--main-bg);
  color: var(--main-text-color);
}

:disabled {
  opacity: 0.8;
  cursor: not-allowed!important;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-direction: row;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

#msg-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0,0,0,0.6);
  z-index: 300;
}

#msg-screen-msg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4em;
  text-align: center;
  width: 100%;
  z-index: 100;
}

#msg-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--progress-bar-color);
  opacity: 0.5;
  transition: width 0.2s;
}

#file-dialogs {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#file-dialogs div {
  flex: 1 1 auto;
  width: 33.3333%;
  font-size: 3.3em;
  text-align: center;
  text-transform: uppercase;
  padding: 24px;
  cursor: pointer;
  margin: auto;
  transition: background 0.25s;
}

#file-dialogs div:hover {
  background: var(--playlist-hover-bg);
}

#player-container {
  display: flex;
  position: relative;
  flex: auto;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#player-cover {
  width: 40%;
  padding: 24px;
  background: var(--cover-bg);
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}

#player-cover img,
#player-cover i {
  position: relative;
  display: block;
  margin: auto;
}

#player-cover i {
  font-size: 12em;
}

#player-items {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  background: var(--player-bg);
}

#player-controls {
  padding: 0 0.5em;
  height: 64px;
  line-height: 64px;
  background: var(--controls-bg);
}
#player-controls a {
  display: block;
  float: left;
  text-decoration: none;
  color: var(--controls-font-color);
  font-size: 2em;
  margin: auto 0.2em;
  cursor: pointer;
}

#player-controls > a:first-child {
  font-size: 3.3em;
}

#playlist-mods {
  float: right;
}

#save-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 13px;
  padding: 24px 48px;
  background: var(--main-bg);
  border: 2px solid var(--playlist-cued-bg);
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.4);
  z-index: 300;
}

#save-dialog label,
#save-dialog input {
  display: block;
  margin: 0 auto 0.76em;
}

#save-dialog input {
  width: 100%;
  padding: 6px 8px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075);
}

#save-dialog button {
  display: inline-block;
  float: right;
  margin-left: 0.5em;
  padding: 4px 8px;
  font-size: 13px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

#saved-playlists {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 183px;
  padding: 7px 0;
  background: var(--main-bg);
  border-left: 2px solid;
  border-left-color: var(--playlist-cued-bg);
  box-shadow: -1px 0px 0px 1px rgba(0,0,0,0.4);
  overflow: auto;
}

#saved-playlists div {
  width: 100%;
  padding: 0 14px;
}

#saved-playlists div:first-child {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.125em;
}

#saved-playlists ul {
  font-size: 14px;
}

#saved-playlists li {
  position: relative;
}

.load-playlist {
  display: inline-block;
  padding: 4px 14px;
  width: 100%;
}

.load-playlist:hover {
  background: var(--playlist-hover-bg);
}

.delete-playlist,
.append-playlist {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  z-index: 100;
}

.append-playlist {
  margin-right: 1.3em;
}

#playlist {
  background: var(--playlist-bg);
  flex: 1 1 auto;
  overflow: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#playlist li, 
#playlist-labels {
  position: relative;
  width: 100%;
  padding: 4px 15px 5px;
  font-size: 15px;
  border-left: 2px solid var(--playlist-bg);
}

#playlist li {
  color: var(--playlist-font-color);
  cursor: pointer;
}

#playlist li:hover {
  background: var(--playlist-hover-bg);
}

#playlist li:after {
  content:'';
  display: table;
  clear: both;
}

#playlist-labels {
  font-weight: bold;
  color: var(--playlist-label-color);
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.25pt;
  padding-left: 17px;
  color: var(--playlist-label-color);
  background: var(--playlist-label-bg);
  border: none;
}

#playlist .playlist-playing,
#playlist .playlist-playing.playlist-cued {
  background: var(--playlist-playing-bg);
  border-left: 2px solid var(--progress-bar-color);
}

#playlist .playlist-cued {
  background: var(--playlist-cued-bg);
  border-left: 2px solid var(--playlist-cued-border-color);
}

.track-info, .track-header {
  display: block;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 33.333%;
  padding-right: 15px;
}

.track-title {
  width: 44%;
}

.track-album, .track-artist {
  width: 28%;
}

.progress-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.progress-bar {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--progress-bar-color);
  opacity: var(--progress-bar-opacity);
}

#playlist .as-sortable-item-handle {
  cursor: pointer;
}

#playlist .as-sortable-placeholder {
  cursor: move;
  border: 1px dotted;
  border-color: var(--playlist-label-color);
  border-left: none;
  border-right: none;
}

/* scrollbar */
::-webkit-scrollbar {
  display: none;
  width: 4px;
}
 
/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: rgba(203,75,22, 0.8); 
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}