<div class="player-container" playercontrol="pc" playerkeymap tabindex="0">
    <div class="msg-screen" ng-if="pc.screenMsg">
        <div class="msg-progress" ng-style="{ width: pc.percentFilesLoaded + '%' }"></div>
        <div class="msg-screen-msg">{{ pc.screenMsg }}</div>
    </div>
    <div class="file-dialogs" ng-if="!pc.plr.playlist.length">
        <div ng-click="pc.openDialog('files')">
            <i class="ion-ios-paper-outline"></i>
            <br /> Open Files
        </div>
        <div ng-click="pc.openDialog('folder')">
            <i class="ion-ios-folder-outline"></i>
            <br /> Open Folder
        </div>
        <div ng-click="pc.showPlaylistMenu = !pc.showPlaylistMenu" ng-if="pc.savedPlaylists.length">
            <i class="ion-ios-list-outline"></i>
            <br /> Open Playlist
        </div>
    </div>

    <div class="player-control-container" ng-if="pc.plr.playlist.length">
        <div class="player-cover" ng-click="pc.plr.togglePlayPause(pc.focusedItem)">
            <img ng-src="{{ pc.plr.currentImage }}" ng-if="pc.plr.currentImage" />
            <i class="ion-disc" ng-if="!pc.plr.currentImage"></i>
        </div>
        <div class="player-items">

            <div class="player-controls">
                <a ng-class="{ 
                    'ion-ios-play-outline': pc.plr.paused || !pc.plr.nowPlaying, 
                    'ion-ios-pause-outline': pc.plr.nowPlaying && !pc.plr.paused
                }" ng-click="pc.plr.togglePlayPause()"></a>
                <a class="ion-ios-rewind-outline" ng-click="pc.plr.rw()"></a>
                <a class="ion-ios-fastforward-outline" ng-click="pc.plr.ff()"></a>
                <a class="playback-mod"
                    ng-class="{
                        'ion-ios-loop mod-off': !pc.plr.repeatMode,
                        'ion-ios-loop-strong': pc.plr.repeatMode === 1,
                        'ion-ios-loop-strong loop-one': pc.plr.repeatMode === 2
                    }"
                    ng-click="pc.plr.repeatMode = (pc.plr.repeatMode + 1) % 3">
                </a>
                <a class="playback-mod" ng-class="{
                        'ion-ios-shuffle mod-off': !pc.plr.random,
                        'ion-ios-shuffle-strong': pc.plr.random
                    }" ng-click="pc.plr.random = !pc.plr.random">
                </a>
                <div class="playlist-mods">
                    <a class="ion-ios-paper-outline" ng-click="pc.openDialog('files')" title="Open File(s)"></a>
                    <a class="ion-ios-folder-outline" ng-click="pc.openDialog('folder')" title="Open Folder"></a>
                    <a class="ion-ios-plus-empty" ng-click="pc.showPlaylistDialog = !pc.showPlaylistDialog" title="Save Playlist"></a>
                    <a class="ion-ios-list-outline" ng-click="pc.showPlaylistMenu = !pc.showPlaylistMenu" ng-if="pc.savedPlaylists.length" title="Open Playlist"></a>
                    <a class="ion-ios-close-outline" ng-click="pc.clearPlaylist()" title="Clear Playlist"></a>
                </div>
            </div>

            <div class="playlist-labels">
                <span class="track-header track-title">Title</span>
                <span class="track-header track-album">Album</span>
                <span class="track-header track-artist">Artist</span>
            </div>

            <div class="playlist">
                <ul as-sortable="pc.getSortListeners()" ng-model="pc.plr.playlist">
                    <li ng-repeat="item in pc.plr.playlist" 
                        ng-class="{ 
                            'playlist-playing': $index === pc.plr.playingIndex && pc.plr.nowPlaying, 
                            'playlist-cued': $index === pc.focusedItem 
                        }" 
                        ng-click="pc.setFocusedItem($index, $event)"
                        ng-dblclick="pc.plr.playNewItem($index)"
                        ng-swipe-left="showDelete = $index"
                        ng-swipe-right="showDelete = null"
                        as-sortable-item>
                        <span class="progress-container" 
                            ng-click="clientSeek($event)" 
                            ng-show="pc.plr.playingIndex === $index && pc.plr.nowPlaying">
                            <span class="progress-bar" ng-style="{ width: pc.plr.progressPercent + '%' }">
                            </span>
                        </span>
                        <span as-sortable-item-handle>
                            <span class="track-info track-title" title="{{ item.tags.title }}">{{ item.tags.title }}</span>
                        </span>
                        <span class="track-info track-album" title="{{ item.tags.album }}">{{ item.tags.album }}</span>
                        <span class="track-info track-artist" title="{{ item.tags.artist }}">{{ item.tags.artist }}</span>
                        <a href="#" class="delete-bar" ng-if="showDelete === $index" ng-click="pc.removePlaylistItem($index)">
                            <span class="delete-bar-text">Remove?</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="saved-playlists" ng-if="pc.showPlaylistMenu">
        <div>
            <a href="#" ng-click="pc.showPlaylistMenu = false">
                <i class="ion-ios-arrow-thin-left"></i>
            </a>
        </div>
        <ul>
            <li ng-repeat="item in pc.savedPlaylists | orderBy: 'name'"
                ng-swipe-left="showDelete = $index"
                ng-swipe-right="showDelete = null">
                <a href="#" class="load-playlist" ng-click="pc.loadPlaylist(item.key)">{{ item.name }}</a>
                <a href="#" class="append-playlist" ng-click="pc.appendPlaylist(item.key)" title='Add "{{ item.name }}" to current playlist'>
                    <i class="ion-ios-plus-empty"></i>
                </a>
                <a href="#" class="delete-playlist" ng-click="pc.deletePlaylist(item.key)" title='Delete "{{ item.name }}"'>
                    <i class="ion-ios-close-empty"></i>
                </a>
                <a href="#" class="delete-bar" ng-if="showDelete === $index" ng-click="pc.deletePlaylist(item.key)"><span class="delete-bar-text">Delete?</span></a>
            </li>
        </ul>
    </div>

    <div class="save-dialog" ng-if="pc.showPlaylistDialog">
        <form name="savePlaylist" novalidate>
            <label>Save playlist as
                <input type="text" name="playlistName" ng-model="pc.savePlaylistAs" required autofocus />
            </label>
            <div class="error" ng-show="pc.showPlaylistDialog && savePlaylist.playlistName.$touched && savePlaylist.playlistName.$error.required">Please enter a name</div>
            <button ng-click="pc.savePlaylist(pc.savePlaylistAs)" ng-disabled="savePlaylist.playlistName.$error.required">Save</button>
            <button ng-click="pc.showPlaylistDialog = false">Cancel</button>
        </form>
    </div>
</div>